<launch>

  <param name="marker_size" type="double" value="2"/>
  <param name="color1_r" type="double" value="242.0 "/>
  <param name="color1_g" type="double" value="75.0"/>
  <param name="color1_b" type="double" value="231.0"/>
  <param name="color1_a" type="double" value="1.0"/>
  <param name="color2_r" type="double" value="242.0"/>
  <param name="color2_g" type="double" value="75.0"/>
  <param name="color2_b" type="double" value="231.0"/>
  <param name="color2_a" type="double" value="0.2"/>
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find uncertainty_visual)/rviz/long_corridor.rviz"/>

  <!-- Subscribes to /cloud and /clouds/* -->

  <node pkg="uncertainty_visual" type="uncertainty_visual_node" name="uncertainty_visual_node" output="screen">
 </node>

    
</launch>

